spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/quizz
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

server:
  port: 8082

app:
  jwt:
    secret: 5020f057d0d31c44d2397a3265c89b86b95a1903160610e290786cfe36e43e7b
    expiration: 86400000 # 24 hours in milliseconds
  frontend:
    url: http://localhost:3000
  notification:
    exchange: notification-exchange
    routingKey: notification.email

 
logging:
  level:
    org.springframework.security: DEBUG
    com.quizapp.user_auth_service: DEBUG
