spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:quizz}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8082

app:
  jwt:
    secret: ${JWT_SECRET:5020f057d0d31c44d2397a3265c89b86b95a1903160610e290786cfe36e43e7b}
    expiration: 86400000 # 24 hours in milliseconds
  notification:
    service-url: ${NOTIFICATION_SERVICE_URL:http://localhost:8080}

